<div {{action "close"}} class="modal fade" style="display:block; opacity:1;" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      {{yield}}
    </div>
  </div>
</div>
