{{#if isDirty}}
<div class="alert alert-warning needs-saved">
  <p>Your updates need to be saved!</p>
</div>
{{/if}}

<div class="col-md-8">
  <div class="col-md-12">
    <h1 class="col-md-offset-2">Edit Project Details
      <span class="btn-group pull-right">
        <button {{action 'deleteProject'}} class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Delete Project</button>
      </span>
    </h1>
  </div>

  {{partial "partials/_project_form"}}

</div>
